cache/*
*/__pycache__/*
.nfs*

wandb
src/eval_video.gif
src/eval_video.mp4


*/*/*/__pycache__/*
src/runs/*
*/*/*/*.gif
*.mp4

images/archives/*
*/*/__pycache__/*
src/preprocess/download_elevation.py
src/ray_models/__pycache__/*
datasets/embeddings/*.npy
datasets/osmnx/houston_tx_usa_drive_20000_slope.graphml
src/test.ipynb
images/eval_video.gif
images/output.png
images/output2.png
datasets/osmnx/nyc_usa_drive_20000_slope.graphml
